{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
	// Define your URLs here.
	var check_logged_in_url = "{{=URL('api', 'check_logged_in', user_signature=True)}}";
	var load_counter_url = "{{=URL('api', 'load_counter', user_signature=True)}}";
	var save_counter_url = "{{=URL('api', 'save_counter', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">
	<div id="vue-div" style="display:none">
		<!-- <div v-if="logged_in"> -->
		{{if auth.user is not None:}}
			<div class="container">
				<div class="quarter">
					<a class="btn" v-on:click="show_view_panel_resources()">Resources</a>
					<a class="btn" v-on:click="show_view_panel_party()">Party</a>
					<a class="btn" v-on:click="show_view_panel_village()">Village</a>
					<div v-if="viewing_resources">
                        <a class="btn" v-on:click="show_view_panel_resources()">Send a boi home</a>
						Inventory:<br><br>
						<div v-for="obj in band[0].inventory">
							<div v-if="obj.is_weapon">
								${obj.name}, dmg: ${obj.damage} x ${obj.num}<br>
							</div>
							<div v-if="!obj.is_weapon">
								${obj.name} x ${obj.num}<br>
							</div>
						</div>
					</div>
					<div v-if="viewing_party" v-for="member in band">
						Name: ${member.name}<br>
						Health: ${member.health}
						<a class="btn" v-if="can_eat_food(member)" v-on:click="eat_food(member)">Eat fud</a>
						<br>
						Weapon: ${member.weapon.name}, dmg: ${member.weapon.damage}
						<a class="btn" v-if="can_equip_weapon(member)" v-on:click="equip_weapon(member)">Equip weapon</a>
						<br>
						______________________________
						<br><br>
					</div>
					<div v-if="viewing_village">
                        village is shitty
					</div>
				</div>
				<div class="threequarters" id="grid">this is a grid boi</div>
			</div>
			<div id="popup-event" v-if="show_popup">
				<a class="left btn" v-on:click="closePopup()">(Esc) Close</a>
				<input style="width:500px" class="not_padded center" :disabled="true" v-model="popup_title"></input>
				<input style="width:594px" class="not_padded" :disabled="true" v-model="popup_desc"></input>
				<br><br>
				<div v-for="(button, i) in popup_buttons">
					<a class="btn option_buttons" v-on:click="button.onClick()">(${i+1}) ${button.name}</a>
				</div>
				<br>
				<div v-if="in_battle">
					Your HP: ${get_band_health()}
				</div>
				<br>
				<div v-if="in_battle">
					Enemy HP: ${enemy_health}
				</div>
			</div>
			<script src="{{=URL('static', 'js/exploration.js')}}"></script>
			<script src="{{=URL('static', 'js/resource_management.js')}}"></script>
			<script src="{{=URL('static', 'js/button_stuff.js')}}"></script>
	
			<div class="container padded center">
				<div class="quarter">
					<h2>Click the button to increment the counter</h2>
					<a class="center btn large" v-on:click="clicked"><tt>Click Me</tt></a>
				</div>
				<div class="threequarters">
					<h1 class="right" id="counter">${counter}</h1>
				</div>
			</div>
		{{else:}}
		<!-- </div>
		<div v-if="!logged_in"> -->
			<h1 class="main_title">Welcome!</h1>
			<p class="explanation">This game is about managing a mercenary band. Please log in to use it.</p>
			<div class="login_button">
				<a href="{{=URL('default', 'user')}}" class="btn">Login</a>
			</div>
		<!-- </div> -->
		{{pass}}
	</div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>